target/
*.jar
*.war
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
.flattened-pom.xml
*.class
.idea/
*.iml
*.iws
*.ipr
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.gradle
build/
.vscode/
*.swp
*.swo
*~
.project
.pydevproject
.DS_Store
Thumbs.db
.env
*.log
logs/
